/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  background: linear-gradient(59deg,#000000,#03e1ff,#1de840,#dc1fff,#03e1ff,#ffffff);
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedText 6s linear infinite;
}

@keyframes animatedText {
  0% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 0;
  }
}

img {
  border: 1px solid #fff; /* 设置边框为白色 */
  background-color: #fff; /* 设置背景颜色为白色 */
  mix-blend-mode: screen; /* 设置混合模式为screen */
}